#planning
  %form{:action => '/', :method => 'get'}
    .start
      .set= text_field :starting_address, '', :placeholder => 'Starting Address'
    .set= partial 'address_field', :locals => {:index => 1}
    .set= partial 'address_field', :locals => {:index => 2}
    .set= partial 'address_field', :locals => {:index => 3}
    .set= partial 'address_field', :locals => {:index => 4}
    .buttons
      %button{:type => :submit} Plan My Route
      .spinner.hide
  
  #google_map.hide

:javascript
  window.route = new PlanMyRoute.Route($('planning'));